<%#= render_header "Startups","", "icon-flag" %>
<div class="city-background">

<div class="container">

	<h1 style="margin-top:35px; margin-bottom: 35px;" class="black-transp-background">Help spread the word! <small>Get help by helping others</small></h1>

	<div id="container">
		<% @startups.each do |s| %>

				<div class="item thumbnail">
					<%= link_to s do %>
						<%= image_tag s.screenshot %>
					<% end %>
		      <div>
	        	<h3><%= s.name %></h3>
	          <p><%= s.pitch %></p>
	          <p>
	          	<% if session[:username] != nil %>
			        	<%= render_modal_link s.id, "btn btn-primary" do %>
			    				<i class="icon-plus-sign-alt"></i> support
			    			<% end %>
			    		<% else %>
			        	<%= link_to "auth/facebook", :class => "btn btn-primary" do %>
			        		<i class="icon-plus-sign-alt"></i> support
			        	<% end %>
			    		<% end %>
	          </p>
	        </div>
      	</div>





			<%= render_modal s.name, s.id do %>
				<p> Hi! copy the following link and help us spread the word about <%= s.name %> </p>
				<a id="btnGetLink" class="btn btn-primary" onclick="get_short_link('<%= s.get_share_link(@current_user)%>')"> generate link </a>

			<% end %>

		<% end %>

	</div>

</div>

<script src="http://masonry.desandro.com/jquery.masonry.min.js"></script>
<script type="text/javascript">
	$(function(){
  	$('#container').masonry({
    	// options
    	itemSelector : '.item',
    	columnWidth : 10
  	});
	});
	function get_short_link(url_arg){
		$.get('/shorten',{url: url_arg})
		.done(function(data){
			window.prompt ("Copy to clipboard: Ctrl+C, Enter", data);
		})

	}

</script>



