<%= render_header "Startups","", "icon-flag" %>
<div class="container">
	<ul class="startup-list">
		<% @startups.each do |s| %>

			<li>
				<div class="thumbnail">
				<%= link_to s do %>
					<%= image_tag s.screenshot %>
				<% end %>
	      <div class="caption">
        	<h3><%= s.name %></h3>
          <p><%= s.pitch %></p>
          <p>
          	<%= render_modal_link s.id, "btn btn-primary" do %>
      				<i class="icon-plus-sign-alt"></i> support
      			<% end %>
          </p>
        </div>
      </div>



			</li>

			<%= render_modal s.name, s.id do %>
				<p> Hi! copy the following link and help us spread the word about <%= s.name %> </p>
				<div style="text-align:center;">
					<input style="width:90%" type="text" value="<%= s.get_share_link(@current_user) %>"></input>
				</div>
			<% end %>

		<% end %>

	</ul>





