<!DOCTYPE html>
<html>
<head>
  <title>Entrepromote</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= stylesheet_link_tag "http://masonry.desandro.com/jquery.masonry.min.js" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

	<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/es_CO/all.js#xfbml=1";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

	<div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to session[:brand_redirect], :class=> "brand" do %>
          	<b>entrepr</b>omote</a>
          <% end %>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class=""><a href="/startups"><i class="icon-plus-sign-alt"></i>Support</a></li>
              <% if session[:facebook_id] != nil %>
              <li class="">
              	<%= link_to "/startups/" << session[:startup_id].to_s do %>
              		<i class='icon-user'></i><%= session[:username] %>
              	<% end %>
              </li>
              <li class="">
              	<%= link_to :controller => "sessions", :action => "logout" do %>
              		<i class='icon-lock'></i>Logout
              	<% end %>
              </li>
              <% else %>
              <li class="">
              	<%= link_to "/auth/facebook" do %>
              		<i class='icon-facebook'></i>Login
              	<% end %>
              </li>
              <% end %>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div style="margin-top:40px">
    	<%= yield %>
    </div>

    <%= render 'widgets/footer' %>

</body>
</html>
